:root {
  font-family: "Source Sans 3", system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  color: #2A242C;
  background-color: #E5DEEF;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #36274C;
  text-decoration: inherit;
}
a:hover {
  color: #43305A;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #E5DEEF;
  color: #2A242C;
}

h1, h2, h3 {
  font-family: "Libre Baskerville", Georgia, serif;
}
